@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');


/*======================================LOGIN PAGE======================================*/
.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(88deg, #749BFF 3.32%, rgba(176, 124, 255, 0.00) 119.95%), #B07CFF; /* Gradient background */
  }
  
.login-box {
    background: linear-gradient(270deg, #7A98FF 0%, rgba(122, 152, 255, 0.00) 60.36%), #FFF;
    width: 700px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    padding: 40px;
    padding-right: calc(40px + 50% - 502px); /* Right padding to push content to the left */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);font-family: 'Inter', sans-serif; /* Apply the font family globally within the box */
}

.title {
    color: #464D5F;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.welcome-back {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}

.register-now, .register-now a {
  color: #464D5F;
  font-size: 14px;
  font-weight: 400;
}

.register-now a {
  color: #0D43AA;
  text-decoration: none; /* Remove underline from link */
}

.register-now a:hover {
  color:#0D43AA; 
}

.login-button {
  width: 183px;
  height: 43px;
  border-radius: 12px;
  background: #7D96FF;
  color: #FFF;
  font-size: 24px;
  font-weight: 800;
  border: none; /* Remove border */
  cursor: pointer; /* Mouse pointer on hover */
}

.input-field {
  width: 340px;
  height: 57px;
  border-radius: 12px;
  background: #DCE8FF;
  border: none; /* Remove border */
  padding-left: 15px; /* Padding inside the input field */
  color: #464D5F;
  font-size: 14px;
  font-weight: 400;
}
.input-field:last-of-type {
  margin-top: 20px; /* Bottom margin for last type */
}
/* Add focus styles to the input fields to remove the default browser outline */
.input-field:focus {
  outline: none;
  /* Optional: add a subtle shadow or border to highlight focus */
}  
/*=========================================================================================================*/

